<h2> Imports and Libraries</h2>

In [2]:
#simple import
import random 

#alias import
import matplotlib as plt 

# sub module import
from sklearn import linear_model

#we can install external modules using pip command (in terminal or cmd)
#example: 
!pip install fibonacci
#doesn't need ! on our local system

Collecting fibonacci
  Downloading fibonacci-1.0.0.tar.gz (584 bytes)
Building wheels for collected packages: fibonacci
  Building wheel for fibonacci (setup.py) ... done
  Created wheel for fibonacci: filename=fibonacci-1.0.0-py3-none-any.whl size=1315 sha256=039029a3b4bf5662d48d95aa3203f26f8705feed0d52cde60315f7131885bf5a
  Stored in directory: /root/.cache/pip/wheels/31/0b/7f/3d3bd9ad2906c67b99b7d9880d8faf00ed728c27a1aa2f831a
Successfully built fibonacci
Installing collected packages: fibonacci
Successfully installed fibonacci-1.0.0

<h2> Basic data types<h2>

In [ ]:
number = 2
float_number = 2.5
string1 = "Artificial"
string2 = "Intelligence"

 # we can get the type of a variable using type() 
print(type(floating_point))
print(type(string1))

print(15 // 2) #floating point division
print(15 / 2) #integer division
print(2 ** 10) #power

<class 'float'>
<class 'str'>
7
7.5
1024

<h5>1. Strings and String slicing</h5>

In [ ]:
name = "Mehrshad"

#Strings are immutable
name + " Saadatinia"
print(name)
name += " Saadatinia"
print(name)

#string are iterable and could be accessed and modified using slicing
print(name[1:5]) #get from index 1 to 5
print(name[:8]) # ... start to 8
print(name[9:]) # ... 9 to the end
print(name[:])

#negative indexing
print(name[-1])

#third argument is called stride which determins size of our step
print(name[::2])

#reverse a string using slicing
print(name[::-1])

Mehrshad
Mehrshad Saadatinia
ehrs
Mehrshad
Saadatinia
Mehrshad Saadatinia
a
Mhsa adtna
ainitadaaS dahsrheM

<h5>2. String methods</h5>

In [ ]:
#convert string to lower case
name.lower() #.upper()

#find firts occurrence of a character
name.find('a')

#is digit?
age = '22'
age.isdigit()

#format function for injecting values to string
txt1 = "My name is {fname}, I'm {age}".format(f_name = "John", f_age = 36)

True

<h2> Built in Data Structures</h2>
<p>
  In python there are 4 main data structures using which we can <br>
  do almost everything we need from data structures and those are listed below.
  <ul>
    <li> lists </li>
    <li> tuples </li>
    <li>dictionaries </li>
    <li> sets </li>
  </ul>

  We can also import other external data structures like queue, stack and ... 
</p>

1. <h4> List </h4>
<p> List is the mostly used data structure in python and is a substitute for array in C style languages but could be modified after initialization. List can hold different datatypes</p>

In [ ]:
#note: do not name your lists as 'list' because it will clash with python's internal namespace
list1 = [1, 2, 3, "michael", 12.5]

#slicing could be used for lists as well
print(list1[1:])

#list are mutable
list1.append(45) #add single element to list
print(list1)

#add multiple elements (another list) to list
list1.extend(["football", "physics"])
print(list1)

#get size of the list
print( len(list1) )

#sort a list 
numbers = [12, 45, 2, 456, 1]
numbers = sorted(numbers)
print(numbers)

#copy a list
numbers_copy = numbers.copy()
print(numbers_copy)

#pop method
numbers.pop(0)
numbers.insert(0, [12, 24])
print(numbers)

#access elements within nested list
print(numbers[0][1])

#2D list 
matrix = [
          [1, 0, 0, 0], 
          [0, 1, 0, 0], 
          [0, 0, 1, 0], 
          [0, 0, 0, 1]
         ]

[2, 3, 'michael', 12.5]
[1, 2, 3, 'michael', 12.5, 45]
[1, 2, 3, 'michael', 12.5, 45, 'football', 'physics']
8
[1, 2, 12, 45, 456]
[1, 2, 12, 45, 456]
[[12, 24], 2, 12, 45, 456]
24

<em><strong> exercise </strong>: put a dot between every two words of a string using list and string methods </em>

In [ ]:
# ** solution  **
course = "Artificial intelligence is a state of the art technology which will revolutionize the world"
chars = course.split(' ')
'.'.join(chars)

'Artificial.intelligence.is.a.state.of.the.art.technology.which.will.revolutionize.the.world'

2. <h4> Tuples </h4> 
<p> Similar to list but immutable, used to store constant data as it requires less memory.</p>

In [ ]:
cor = (1.253, 5.36, 78.5)
print( type(cor[:1]) )
print( cor[2] )
print( cor[:1] )

#we can convert a list to tuple as follows
names = ["akbar", "aslaan", "nader"]
tup_names = tuple(names)
print( tup_names )

#unpacking (pattern matching)
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)

<class 'tuple'>
78.5
(1.253,)
('akbar', 'aslaan', 'nader')
apple

2. <h4> Dictionaries </h4> 
<p> Similar to objects in Javascript (json) and Map in Java can hold key value pairs.</p>

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(type(car))
#access
print(car["brand"])

#update
car.update({"color": "red"})
print(car)

<class 'dict'>
Ford
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'red'}

3. Sets

In [ ]:
myset = set([1, 1, 2, 2, 3, 3, 4])
set1 = {2, 5}
print(myset)

{1, 2, 3, 4}

<h2> Control Flow Statements</h2>

<h5>1. conditionals </h5>

In [ ]:
#getting input from user
#int functions casts string (terminal) input to int 
x = int(input("first number: ")) 
y = int(input("second number: "))


if x == y:
  print('equal')
elif x < y:
  print("smaller ")
else:
  if x % y == 0:
    print("divisible")
  else:
    print("not divisible")

#we don't have switch statements in python, although it's possible to have 
#the same functionality using dictionary datatype

first number: 12
second number: 6
divisible

<h4>2. loops </h4>

In [3]:
# **** while loop example ****
num = random.randint(1, 10)

correct = False

while not correct:
  guess = int(input("guess?"))
  if guess == num:
    correct = True
    print("you won")
    break
  else:
    continue

guess?5
guess?2
you won

In [4]:
#for loops
my_list = [1, 2, 3, 5, 6, 7]

#let's print odd numbers in the list above using for
#here's what we're going to do
for num in my_list:
  if num % 2 == 1:
    print(num)

1
3
5
7

In [ ]:
# now let's iterate the list using index and this time print even
for i in range(0, len(my_list)):
  if my_list[i] % 2 == 0:
    print(my_list[i])

2
6

In [5]:
#iterate the list and print index value pairs as tuples ** IMPORTANT**
for index, value in enumerate([2, 4, 6, 8]):
  print((index, value))

(0, 2)
(1, 4)
(2, 6)
(3, 8)

<h4> 3. Comprehensions (list and dict)</h4>

In [6]:
#list comprehension is a faster technique to create and work with a list

#example: calculate a list of squares of numbers in range of 1 to 10 
squares = [x**2 for x in range(1, 10)]
print(squares)

#dict comprehension
# create a dictionary with numbers (1, 10) as keys and assign either odd or even for every number as value
compr = {x:('even' if x % 2 == 0 else 'odd') for x in range(1, 10)}
print(compr)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even', 7: 'odd', 8: 'even', 9: 'odd'}

<h2> Functions </h2>

In [ ]:
def simple_calc(a, b, action):
  if action is "mult":
    return a * b
  elif action is "add":
    return a + b

# call function
print( simple_calc(2, 5, "add") )
print( simple_calc(2, 5, "mult") )

# argument passing types
# *args
def func1(*kids): # we can pass as many arguments as we want when we call function
  print("The youngest child is " + kids[2])


# **kwargs
def func2(**course):
  print("course name is " +course["name"])


#default argument
def func3(country = "Iran"):
  print("I am from " + country)


#keyword args
def func4(name, lastname, age):
  print(name, lastname, "is", age)


func1("habil", "qabil", "ali")

func2(name = "AI", credits = 3)

func3("Sweden")
func3("Canada")
func3()

func4(lastname="Saadatinia", name="Mehrshad", age=22)

7
10
The youngest child is ali
course name is AI
I am from Sweden
I am from Canada
I am from Iran
Mehrshad Saadatinia is 22

<em><strong> exercise </strong>: implement fibonacci sequence recursively and return 10th number in it </em>

In [7]:
def fibo(n):
  if n == 1:
    return 1
  elif n == 2:
    return 1
  return fibo(n - 1) + fibo(n - 2)
  

fibo(10)

55

<h4>Files and IO</h4>
<em>
f1 = open("myfile.txt", "r") -> open file with read permission <br>
f2 = open("myfile.txt", "a") -> open file with read and append permission <br>
f3 = open("myfile.txt", "w") -> open file with read and write permission <br>
</em>

In [10]:
#some tricks

#any()
test = [1, 2, 3, 4, 5]
print(any(elem % 7 == 0 for elem in test))

#swap
a = 5
b = 10
a, b = b, a
print(b)

#filter
#example: filter out all the strings in a given list of different datatypes
mix = [1, "ali", 45, "nice", 4.5, 12, 23]
res = filter(lambda x: type(x) == type(""), mix)
print(res)
print(list(res))

False
5
<filter object at 0x7fe3ff5b1590>
['ali', 'nice']

<em><strong> exercise </strong>: implement DFS **traversal** in Python (left to right)</em>

![Tree dfs.png]()

In [11]:

def dfs(tree, root):
  stack = []
  stack.append(root)
  while len(stack) != 0:
    top = len(stack) - 1
    temp = stack.pop(top)
    print(temp, " -> ", end='')
    if temp in tree:
      for child in reversed(tree[temp]):
        stack.append(child)
  print("end")

t = {1: [2, 3, 4], 2: [5, 6], 5: [7], 6: [8, 9], 4:[10, 11]}
dfs(t, 1)

1  -> 2  -> 5  -> 7  -> 6  -> 8  -> 9  -> 3  -> 4  -> 10  -> 11  -> end